/* IMPOSTAZIONI GENERALI */
body {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-image: url("../img/sfondo.png");
}
h1,
h2,
h3 {
  font-size: 4em;
  margin: 0.67em 0;
}
p,a, li{
  font-size: 1,5em;
}

img {
  padding-left: 30px;
}
header { text-align: center;}

/* HEADER */
.headerdiv {
  width: 100%;
  border: solid 1px;
  padding:;
  background:linear-gradient(to right, rgb(3, 101, 121), rgb(3, 97, 152));
  box-sizing: border-box 100%;
}
/* MAIN */
.main {
  margin-top: 40px;
  border: solid 1px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

table th,
table td {
  border: solid 1px black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(38, 23, 255);
  color: white;
}

.grey {
  background-color: lightgrey;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
.footerdiv {
  margin-top: 40px;
  margin-bottom: 10px;
  border: solid 1px;
  padding: 20px;
  background:linear-gradient(to right, rgb(3, 67, 19), rgb(19, 105, 49));
}

.video {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.unosu3 {
  border: solid 1px;
  padding: 20px;
  background-color: lightgrey;
  margin: 25px;
}
.unosu3 p:nth-of-type(3) {
    text-align:right
}

.center {
  text-align: center;
  font-weight: bold;
}

.scbianca {
  color: white;
}


.purple { 
    color: purple;
font-weight: bold;
}

a {
    color: rgb(3, 97, 152);
    text-decoration: none;
    padding: 5px;
}

#afooter {
    color:blueviolet
}

button {
    background-color: rgb(3, 97, 152);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    width: 100px;
}

.menu {
  text-align: center;
}
